---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="OhOhOh">
	<main>
		<h1><span class="text-gradient">Consider</span></h1>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://ripplestudi.ooo/Zucky.png/"
				title="Getting rid of Instagram"
				body="You won't miss it. Zuckerberg won't miss you"
			/>
			<Card
				href="https://ontariospca.ca/"
				title="Donating some money"
				body="And help save the precious lives of some cats and dogs"
			/>
			<Card
				href="https://www.youtube.com/watch?v=pUvwleVGVmA"
				title="Putting on some music"
				body="Maybe. If you want. It's good for the soul"
			/>
			<Card
				href="https://ripplestudi.ooo/Water.png/"
				title="Drinking some water"
				body="And a friendly reminder to sit up straight and stop being a shrimp"
			/>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #f07178, #ffb454);
    background-color: #171b24;
	}

	h1 {
    margin: 2rem 0;
	}

	main {
		margin: auto;
    background-color: #171b24;
		padding: 3em;
		text-align: center;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 3s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
